<html>
	<head>
		<meta charset="UTF-8">
		<title> JobStatisticsApp </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="body">
			<div class="page">
				<form class= "panel" action="{{ url_for('user_route.logout') }}" method="get">
					<input class="input bth button" type="submit" value="LOGOUT">
				</form>
				<h1 class="page-name">Wykresy</h1>
				<div class="plots">
					<img src="{{ url_for('static', filename='plots/plot1.png') }}">
					<img src="{{ url_for('static', filename='plots/plot2.png') }}">
					<img src="{{ url_for('static', filename='plots/plot3.png') }}">
					<img src="{{ url_for('static', filename='plots/plot4.png') }}">
					<img src="{{ url_for('static', filename='plots/plot5.png') }}">
					<img src="{{ url_for('static', filename='plots/plot6.png') }}">
				</div>
			</div>
		</div>
	</body>
</html>
